@import "tailwindcss";

@theme {
  --breakpoint-74: 74rem;

  --text-sm: 0.875rem;
  --text-sm--line-height: 1.4rem;
  --text-base: 1rem;
  --text-base--line-height: 1.7rem;
  --text-3xl: 1.875rem;
  --text-3xl--line-height: 2.6rem;
  --text-4xl: 2.25rem;
  --text-4xl--line-height: 3rem;

  --font-mono: "Berkeley Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  a {
    text-decoration: none;
  }
}

@font-face {
  font-family: "Berkeley Mono";
  src: url("/abc/fonts/BerkeleyMono/BerkeleyMono-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Berkeley Mono";
  src: url("/abc/fonts/BerkeleyMono/BerkeleyMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Berkeley Mono";
  src: url("/abc/fonts/BerkeleyMono/BerkeleyMono-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Berkeley Mono";
  src: url("/abc/fonts/BerkeleyMono/BerkeleyMono-BoldItalic.ttf")
    format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Berkeley Mono Variable";
  src: url("/abc/fonts/BerkeleyMono/BerkeleyMonoVariable-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Berkeley Mono Variable";
  src: url("/abc/fonts/BerkeleyMono/BerkeleyMonoVariable-Italic.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "gilroyBold";
  src: url("https://wxa.wxs.qq.com/wxad-design/fonts/gilroy-bold-webfont.eot");
  src: url("https://wxa.wxs.qq.com/wxad-design/fonts/gilroy-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://wxa.wxs.qq.com/wxad-design/fonts/gilroy-bold-webfont.woff2")
      format("woff2"),
    url("https://wxa.wxs.qq.com/wxad-design/fonts/gilroy-bold-webfont.woff")
      format("woff"),
    url("https://wxa.wxs.qq.com/wxad-design/fonts/gilroy-bold-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "gilroysemibold";
  src: url("https://wxa.wxs.qq.com/wxad-design/fonts/gilroy-semibold-webfont.eot");
  src: url("https://wxa.wxs.qq.com/wxad-design/fonts/gilroy-semibold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://wxa.wxs.qq.com/wxad-design/fonts/gilroy-semibold-webfont.woff2")
      format("woff2"),
    url("https://wxa.wxs.qq.com/wxad-design/fonts/gilroy-semibold-webfont.woff")
      format("woff"),
    url("https://wxa.wxs.qq.com/wxad-design/fonts/gilroy-semibold-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "abchanel-corpo";
  font-display: swap;
  src: url("https://fonts.chanel.cn/k/29d2ee826a834270fc144dccbb2359ae46f53c3b-l.woff2")
      format("woff2"),
    url("https://fonts.chanel.cn/k/29d2ee826a834270fc144dccbb2359ae46f53c3b-d.woff")
      format("woff"),
    url("https://fonts.chanel.cn/k/29d2ee826a834270fc144dccbb2359ae46f53c3b-a.otf")
      format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "abchanel-corpo";
  font-display: swap;
  src: url("https://fonts.chanel.cn/k/64b14ed9188172fd562480b882a998c1cb8e8eb2-l.woff2")
      format("woff2"),
    url("https://fonts.chanel.cn/k/64b14ed9188172fd562480b882a998c1cb8e8eb2-d.woff")
      format("woff"),
    url("https://fonts.chanel.cn/k/64b14ed9188172fd562480b882a998c1cb8e8eb2-a.otf")
      format("opentype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "abchanel-corpo";
  font-display: swap;
  src: url("https://fonts.chanel.cn/k/4557ee3c5c7e229667c02c3e802771f4feae8659-l.woff2")
      format("woff2"),
    url("https://fonts.chanel.cn/k/4557ee3c5c7e229667c02c3e802771f4feae8659-d.woff")
      format("woff"),
    url("https://fonts.chanel.cn/k/4557ee3c5c7e229667c02c3e802771f4feae8659-a.otf")
      format("opentype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "abchanel-corpo";
  font-display: swap;
  src: url("https://fonts.chanel.cn/k/1b32c8a567ffef9b4919d90a39670b0f25b146bc-l.woff2")
      format("woff2"),
    url("https://fonts.chanel.cn/k/1b32c8a567ffef9b4919d90a39670b0f25b146bc-d.woff")
      format("woff"),
    url("https://fonts.chanel.cn/k/1b32c8a567ffef9b4919d90a39670b0f25b146bc-a.otf")
      format("opentype");
  font-style: normal;
  font-weight: 200;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --tp-base-background-color: hsla(230, 5%, 90%, 1);
  --tp-base-shadow-color: hsla(0, 0%, 0%, 0.1);
  --tp-button-background-color: hsla(230, 7%, 75%, 1);
  --tp-button-background-color-active: hsla(230, 7%, 60%, 1);
  --tp-button-background-color-focus: hsla(230, 7%, 65%, 1);
  --tp-button-background-color-hover: hsla(230, 7%, 70%, 1);
  --tp-button-foreground-color: hsla(230, 10%, 30%, 1);
  --tp-container-background-color: hsla(230, 15%, 30%, 0.2);
  --tp-container-background-color-active: hsla(230, 15%, 30%, 0.32);
  --tp-container-background-color-focus: hsla(230, 15%, 30%, 0.28);
  --tp-container-background-color-hover: hsla(230, 15%, 30%, 0.24);
  --tp-container-foreground-color: hsla(230, 10%, 30%, 1);
  --tp-groove-foreground-color: hsla(230, 15%, 30%, 0.1);
  --tp-input-background-color: hsla(230, 15%, 30%, 0.1);
  --tp-input-background-color-active: hsla(230, 15%, 30%, 0.22);
  --tp-input-background-color-focus: hsla(230, 15%, 30%, 0.18);
  --tp-input-background-color-hover: hsla(230, 15%, 30%, 0.14);
  --tp-input-foreground-color: hsla(230, 10%, 30%, 1);
  --tp-label-foreground-color: hsla(230, 10%, 30%, 0.7);
  --tp-monitor-background-color: hsla(230, 15%, 30%, 0.1);
  --tp-monitor-foreground-color: hsla(230, 10%, 30%, 0.5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

[data-theme="dark"] {
  display: none;
}

::selection {
  color: #fff;
  background-color: #000;
}

html {
  box-sizing: border-box;
  scroll-padding-top: 6rem;
}

video {
  background-color: #fff !important;
}

html * {
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html *::before,
html *::after {
  box-sizing: inherit;
}

body {
  position: relative;
  background-color: hsl(0, 0%, 96%);
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  font-family: Inter, -apple-system, system-ui, "Helvetica Neue", "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

html,
body {
  -webkit-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
  -moz-text-size-adjust: 100% !important;
  min-height: 100vh;
}

img,
svg {
  flex: none;
}

pre > code {
  display: grid;
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 0.75rem;
  margin-left: -1rem;
  margin-right: 1rem;
  text-align: right;
  color: hsl(0, 0%, 70%);
  font-size: 11px;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 1.25rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 1.75rem;
}

code[data-line-numbers-max-digits="4"] > [data-line]::before {
  width: 2.25rem;
}

code:where(:not(pre) > code) {
  padding: 2px;
  background-color: hsl(0, 0%, 90%);
  border-radius: 2px;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  min-width: 14px;
  min-height: 14px;
  background-color: rgba(0, 0, 0, 0.1);
  background-clip: content-box;
  border: 4px solid transparent;
  border-radius: 14px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.scrollbar-custom::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.3);
}
.scrollbar-custom::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.absolute-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.scroll-outer {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate3d(-50%, 0, 0);
  --depth: 14.7;
  --card-width: 300px;
  --card-height: 450px;
  height: var(--card-height);
  user-select: none;
}

.scroll-wrapper {
  position: relative;
  width: var(--card-width);
  height: var(--card-height);
  margin: auto;
  zoom: 0.7;
}

.scroll {
  position: absolute;
  top: 0;
  left: calc(var(--card-height) * var(--depth) * -0.5 + var(--card-width) / 2);
  width: calc(var(--card-height) * var(--depth));
  height: calc(var(--card-height) * var(--depth));
}

.scroll-item {
  position: absolute;
  top: 0;
  left: calc(50% - var(--card-width) / 2);
  transform: rotate(var(--rotate)) translateZ(0);
  transform-origin: 50% calc(50% * var(--depth));
}

.scroll-item-inner {
  position: relative;
  display: block;
  width: var(--card-width);
  height: var(--card-height);
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
}

.scroll-item-inner-media {
  position: absolute;
  width: 100%;
  height: auto;
}

@keyframes traildot {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(200px, 0, 0);
  }
}

@keyframes trailHeart {
  0%,
  50%,
  100% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-20deg);
  }
  70% {
    transform: rotate(20deg);
  }
}

@keyframes aduiCheckboxIndicatorScale {
  0% {
    transform: scale(1, 1);
  }
  60% {
    transform: scale(1.05, 1.05);
  }
  100% {
    transform: scale(1, 1);
  }
}

.animate-text {
  opacity: 0;
  font-size: 50px;
  letter-spacing: 1px;
  font-weight: 900;
}
.animate-text span {
  display: inline-block;
  position: relative;
  -webkit-background-clip: text;
  color: transparent;
  line-height: 1.5;
}
.animate-text span:nth-of-type(odd) .bullet {
  bottom: 0;
  transform: scale(0) rotate(-60deg);
}
.animate-text span:nth-of-type(even) .bullet {
  top: 0;
  transform: scale(0) rotate(60deg);
}
.animate-text .driver {
  position: absolute;
  top: calc(50% - 8px);
  left: -2px;
  width: 8px;
  height: 8px;
  border-radius: 8px;
}
.animate-text .driver-dash {
  position: absolute;
  top: calc(100% - 14px);
  left: -5px;
  width: 2px;
  height: 2px;
  border-radius: 2px;
  opacity: 0;
}
.animate-text .bullet {
  position: absolute;
  left: -10px;
  transform-origin: 0 0;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  opacity: 0;
}

.circular-text-char {
  position: absolute !important;
  top: 50%;
  left: 50%;
  line-height: 1;
  transform: translate(-50%, -50%)
    rotate(calc(var(--inner-angle) * var(--char-index)))
    translateY(var(--radius));
}

.colorpod-animation {
  animation: colorpod 3s cubic-bezier(0.67, 0.04, 0.37, 1) both infinite;
}

@keyframes colorpod {
  0% {
    transform: translate3d(0, 0, 0);
  }
  80%,
  100% {
    transform: translate3d(-350px, 0, 0);
  }
}

@property --wipe-in {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --wipe-out {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

.wipe-out-animation {
  animation: 500ms ease both wxadFadeOut;
}

@keyframes wxadFadeOut {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}

.wipe-in-animation {
  animation: 550ms ease both wipe-in 50ms;
  -webkit-mask: linear-gradient(
    90deg,
    transparent calc(var(--wipe-in) - 50%),
    black var(--wipe-in),
    black 100%
  );
  mix-blend-mode: initial;
}

@keyframes wipe-out {
  from {
    --wipe-out: 0%;
  }
  to {
    --wipe-out: 150%;
  }
}

@keyframes wipe-in {
  from {
    --wipe-in: 100%;
  }
  to {
    --wipe-in: 0%;
  }
}

.footer-animation {
  animation: 500ms ease 200ms both footerAnimation;
}

@keyframes footerAnimation {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(80px);
    filter: blur(2px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0);
    filter: blur(0);
  }
}

html {
  /* HoverFill 的缩放起始 */
  --odn-hoverfill-scale-start: 0.92;
  /* HoverFill 的过渡时间 */
  --odn-hoverfill-duration: 0.25s;
  /* 按钮的间距 */
  --odn-pagination-gap: 0;

  /* 按钮宽度 */
  --odn-pagination-item-width: 32px;

  /* 按钮高度 */
  --odn-pagination-item-height: 32px;

  /* 按钮字体大小 */
  --odn-pagination-item-font-size: 14px;

  /* 按钮字重 */
  --odn-pagination-item-font-weight: 400;

  /* 按钮字体颜色 */
  --odn-pagination-item-color: rgba(0, 0, 0, 0.95);

  /* hover 背景颜色 */
  --odn-pagination-item-bg-hover: #fff;

  /* active 背景颜色 */
  --odn-pagination-item-bg-active: #fff;

  /* active 字重 */
  --odn-pagination-item-font-weight-active: 600;

  /* active 字体颜色 */
  --odn-pagination-item-color-active: #000;

  /* active 边框样式 */
  --odn-pagination-item-border-active: 1px solid #000;

  /* 按钮的圆角 */
  --odn-pagination-item-border-radius: 6px;

  --odn-dp-padding-block-end: 16px;
  --odn-dp-padding-inline: 16px;
  --odn-dp-nav-padding-block-start: 10px;
  --odn-dp-nav-padding-block-end: 10px;
  --odn-dp-nav-padding-inline: 16px;
  --odn-dp-nav-shadow: 0 -1px 0 #e6e6e6 inset;
  --odn-dp-nav-button-size: 30px;

  --odn-dp-weekday-width: 30px;
  --odn-dp-weekday-height: 30px;
  --odn-dp-weekday-font-size: 13px;
  --odn-dp-weekday-font-weight: 600;
  --odn-dp-weekday-color: #000;

  --odn-dp-table-row-gap: 0px;
  --odn-dp-day-size: 30px;

  --odn-dp-td-hover-fill-offset-y: 0px;
  --odn-dp-td-hover-fill-offset-x: 0px;

  --odn-dp-hover-fill-color: rgba(33, 34, 38, 0.05);

  --z-index-spross-modal: 1040;
  --odn-z-index-popup: 1050;
  --z-index-spross-message: 1060;

  /* popup */
  --odn-popup-max-width: 250px;
  --odn-popup-font-size: 13px;
  --odn-popup-line-height: 20px;

  /* popover */
  --odn-popover-padding-block: 20px;
  --odn-popover-padding-inline: 20px;
  --odn-popover-border-radius: 6px;
  --odn-popover-border: none;
  --odn-popover-box-shadow: 0 0 0 1px rgba(0, 0, 0, 6%);
  --odn-popover-filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 5%))
    drop-shadow(0 6px 15px rgba(0, 0, 0, 5%));

  /* tooltip */
  --odn-tooltip-padding-block: 10px;
  --odn-tooltip-padding-inline: 12px;
}

[data-springen-hover-fill] {
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
  user-select: none;
}

[data-springen-hover-fill-bg] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  pointer-events: none;
  transform: scale(var(--odn-hoverfill-scale-start));
  transition: width var(--odn-hoverfill-duration) cubic-bezier(0.32, 0.72, 0, 1),
    transform var(--odn-hoverfill-duration) cubic-bezier(0.32, 0.72, 0, 1),
    background var(--odn-hoverfill-duration) cubic-bezier(0.32, 0.72, 0, 1);
}

[data-springen-hover-fill-content] {
  position: relative;
  z-index: 1;
  height: 100%;
}

[data-springen-hover-fill-content] > * {
  cursor: pointer;
  min-width: 100%;
}

[data-springen-pagination] {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  gap: var(--odn-pagination-gap);
}

[data-springen-pagination-item] {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--odn-pagination-item-width);
  height: var(--odn-pagination-item-height);
  font-size: var(--odn-pagination-item-font-size);
  color: var(--odn-pagination-item-color);
  cursor: pointer;
  transition: color 0.25s cubic-bezier(0.32, 0.72, 0, 1);
}

[data-springen-pagination-hover-fill] {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--odn-pagination-item-width);
  height: var(--odn-pagination-item-height);
  pointer-events: none;
  transition: left 0.25s cubic-bezier(0.32, 0.72, 0, 1);
}

[data-springen-pagination-hover-fill-bg] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: var(--odn-pagination-item-border-radius);
  transform: scale(0.8);
  transition: transform 0.25s cubic-bezier(0.32, 0.72, 0, 1),
    background 0.25s cubic-bezier(0.32, 0.72, 0, 1);
}

[data-springen-pagination-active-indicator] {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--odn-pagination-item-width);
  height: var(--odn-pagination-item-height);
  background-color: var(--odn-pagination-item-bg-active);
  border: var(--odn-pagination-item-border-active);
  border-radius: var(--odn-pagination-item-border-radius);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.25s cubic-bezier(0.32, 0.72, 0, 1);
}

[data-springen-pagination-item-active="true"] {
  color: var(--odn-pagination-item-color-active);
  font-weight: var(--odn-pagination-item-font-weight-active);
}

[data-springen-pagination-item-disabled="true"] {
  cursor: not-allowed;
  color: rgba(69, 80, 102, 0.25);
}

[data-springen-pagination-item-ellipsis-icon] {
  transition: opacity 0.1s cubic-bezier(0.32, 0.72, 0, 1);
}

[data-springen-pagination-item-ellipsis-icon-hover] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  opacity: 0;
  transition: opacity 0.1s cubic-bezier(0.32, 0.72, 0, 1);
}

[data-springen-pagination-item-ellipsis]:hover
  [data-springen-pagination-item-ellipsis-icon] {
  opacity: 0;
}

[data-springen-pagination-item-ellipsis]:hover
  [data-springen-pagination-item-ellipsis-icon-hover] {
  opacity: 1;
}

[data-spross-date-picker-popup] {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
}

[data-spross-date-picker-shortcuts] {
  flex: none;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100px;
  box-shadow: 1px 0 0 0 #ebebeb;
}

[data-spross-date-picker-shortcut] {
  padding-left: 12px;
  padding-right: 8px;
  max-width: 100%;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

[data-spross-date-picker-shortcut-active="true"] {
  font-weight: 500;
  color: #000;
}

[data-spross-date-picker-popup-content] {
  flex: 1;
}

[data-spross-date-picker-caption-nav] {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--odn-dp-nav-padding-block-start)
    var(--odn-dp-nav-padding-inline) var(--odn-dp-nav-padding-block-end);
  box-shadow: var(--odn-dp-nav-shadow);
}

[data-spross-date-picker-caption-nav-button] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--odn-dp-nav-button-size);
  height: var(--odn-dp-nav-button-size);
  cursor: pointer;
}

[data-spross-date-picker-caption-nav-icon] {
  fill: currentColor;
}

[data-spross-date-picker-caption-nav-button-disabled="true"] {
  color: #c7c7c7;
  pointer-events: none;
}

[data-spross-date-picker-caption-nav-button-prev] {
  transform: rotate(90deg);
}

[data-spross-date-picker-caption-nav-button-next] {
  transform: rotate(-90deg);
}

[data-spross-date-picker-caption-select] {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  cursor: pointer;
  pointer-events: initial;
}

[data-spross-date-picker-caption-select-input] {
  position: relative;
  z-index: 1;
  padding-left: 11px;
  width: 100%;
  font-size: 13px;
  font-weight: 600;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  appearance: none;
}

[data-spross-date-picker-caption-select-input]:focus {
  outline: none;
}

[data-spross-date-picker-caption-select-month]
  [data-spross-date-picker-caption-select-input] {
  letter-spacing: -1px;
}

[data-spross-date-picker-caption-icon] {
  position: absolute;
  top: 6px;
  right: 3px;
  fill: #6b6b6b;
}

[data-spross-date-picker-container] {
  position: relative;
  display: inline-block;
  width: 118px;
}

[data-spross-date-picker-container-range] {
  width: 204px;
}

[data-spross-date-picker-input] {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  font-family: inherit;
  text-align: inherit;
  line-height: 1.5;
  color: #1f1f1f;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  outline: none;
  appearance: none;
  transition: 0.2s cubic-bezier(0.32, 0.72, 0, 1) background-color,
    0.2s cubic-bezier(0.32, 0.72, 0, 1) box-shadow;

  padding: 6px 30px 6px 8px;
  height: 30px;
  font-size: 13px;

  box-shadow: 0 0 0 1px #e0e0e0;
}

[data-spross-date-picker-input]:focus {
  box-shadow: 0 0 0 1px #000;
}

[data-spross-date-picker-icon] {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  fill: #a3a3a3;
  pointer-events: none;
}

[data-spross-date-picker-input]:focus + [data-spross-date-picker-icon] {
  fill: #6b6b6b;
}

[data-spross-date-picker-caption-nav-hover-fill] {
  position: absolute;
  top: 10px;
  left: 16px;
  height: var(--odn-dp-nav-button-size);
  background-color: transparent;
  pointer-events: none;
  border-radius: 4px;
  transition: left 0.25s cubic-bezier(0.32, 0.72, 0, 1),
    width 0.25s cubic-bezier(0.32, 0.72, 0, 1);
}

[data-spross-date-picker-caption-nav-hover-fill-inner] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transform: scale(0.8);
  border-radius: 4px;
  transition: transform 0.25s cubic-bezier(0.32, 0.72, 0, 1),
    background 0.25s cubic-bezier(0.32, 0.72, 0, 1);
}

[data-spross-date-picker-td-hover-fill] {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--odn-dp-day-size);
  height: var(--odn-dp-day-size);
  pointer-events: none;
  transition: top 0.25s cubic-bezier(0.32, 0.72, 0, 1),
    left 0.25s cubic-bezier(0.32, 0.72, 0, 1);
}

[data-spross-date-picker-td-hover-fill-inner] {
  position: absolute;
  top: var(--odn-dp-td-hover-fill-offset-y);
  left: var(--odn-dp-td-hover-fill-offset-x);
  width: 100%;
  height: 100%;
  background-color: transparent;
  transform: scale(0.8);
  border-radius: 4px;
  transition: transform 0.25s cubic-bezier(0.32, 0.72, 0, 1),
    background 0.25s cubic-bezier(0.32, 0.72, 0, 1);
}

.rdp-root {
  position: relative;
}

.rdp-months {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding-right: var(--odn-dp-padding-inline);
  padding-bottom: var(--odn-dp-padding-block-end);
  padding-left: var(--odn-dp-padding-inline);
}

.rdp-month_caption {
  text-align: center;
}

.rdp-caption_label,
.rdp-dropdowns {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  margin: var(--odn-dp-nav-padding-block-start)
    calc(var(--odn-dp-nav-padding-inline) * -1)
    var(--odn-dp-nav-padding-block-end);
  height: var(--odn-dp-nav-button-size);
  pointer-events: none;
}

.rdp-caption_label {
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.rdp-weekday {
  padding: 0;
  padding-bottom: var(--odn-dp-table-row-gap);
  width: var(--odn-dp-weekday-width);
  height: calc(var(--odn-dp-weekday-height) + var(--odn-dp-table-row-gap));
  vertical-align: middle;
  text-align: center;
  color: var(--odn-dp-weekday-color);
  font-size: var(--odn-dp-weekday-font-size);
  font-weight: var(--odn-dp-weekday-font-weight);
}

.rdp-weekdays,
.rdp-week {
  border-bottom: none;
}

.rdp-week:not(:last-child) .rdp-day {
  padding-bottom: var(--odn-dp-table-row-gap);
}

.rdp-day {
  position: relative;
  display: table-cell;
  padding: 0;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  text-align: center;
  font-size: 13px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.1s cubic-bezier(0.32, 0.72, 0, 1);
}

.rdp-disabled {
  pointer-events: none;
  color: #c7c7c7;
}

.rdp-hidden,
.rdp-outside {
  opacity: 0;
  visibility: hidden;
}

.rdp-range_end [data-spross-date-picker-day] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rdp-range_start [data-spross-date-picker-day] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rdp-range_middle [data-spross-date-picker-day] {
  font-weight: 400;
  color: #1f1f1f;
  background: #eaf0fd;
  border-radius: 0;
}

[data-spross-date-picker-day] {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 4px;
}

[data-spross-date-picker-locale="enUS"]
  [data-spross-date-picker-caption-select-year] {
  width: 66px;
}

[data-spross-date-picker-locale="zhCN"]
  [data-spross-date-picker-caption-select-year] {
  width: 80px;
}

[data-spross-date-picker-caption-select-month] {
  width: 55px;
}

[data-spross-date-picker-locale="zhCN"] .rdp-dropdowns {
  flex-direction: row-reverse;
}

[data-spross-date-picker-day-selected="true"],
[data-spross-date-picker-day-range-start="true"],
[data-spross-date-picker-day-range-end="true"] {
  color: #fff;
  background-color: #000;
  font-weight: 600;
}

[data-spross-date-picker-day-range-start="true"],
[data-spross-date-picker-day-range-start-hover="true"] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

[data-spross-date-picker-day-range-start-hover="true"]:not(
    [data-spross-date-picker-day-range-end="true"]
  ),
[data-spross-date-picker-day-range-end-hover="true"]:not(
    [data-spross-date-picker-day-range-start="true"]
  ) {
  background: #d4e1fc;
}

[data-spross-date-picker-day-range-end="true"],
[data-spross-date-picker-day-range-end-hover="true"] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

[data-spross-date-picker-day-selected-range="true"] {
  background: #eaf0fd;
  border-radius: 0;
}

[data-spross-date-picker-day-selected-range="true"]:hover {
  background: #d4e1fc;
}

[data-spross-date-picker-container-light="true"]
  [data-spross-date-picker-input] {
  background-color: transparent;
  box-shadow: none;
}

[data-spross-date-picker-container-light="true"]
  [data-spross-date-picker-input]:focus {
  background-color: #fff;
  box-shadow: 0 0 0 1px #000;
}

[data-springen-calendar-wrapper] {
  position: relative;
}

[data-spross-popup] {
  z-index: var(--odn-z-index-popup);
}

[data-spross-popup-content] {
  position: relative;
  width: max-content;
  max-width: var(--odn-popup-max-width);
  font-size: var(--odn-popup-font-size);
  line-height: var(--odn-popup-line-height);
  overflow-wrap: break-word;
  white-space: pre-line;
  border: var(--odn-popover-border);
  border-radius: var(--odn-popover-border-radius);
  box-shadow: var(--odn-popover-box-shadow);
  filter: var(--odn-popover-filter);
}

[data-spross-popup-arrow] {
  position: absolute;
}

[data-spross-popup-arrow] svg {
  transition: 200ms ease-in-out all;
}

[data-spross-popup-arrow-outer-stroke] {
  fill: rgba(0, 0, 0, 0.06);
}

[data-spross-popup-content] {
  transition-property: opacity, transform;
}
[data-spross-popup-content][data-status="open"],
[data-spross-popup-content][data-status="close"] {
  transition-duration: 0.12s;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

[data-spross-popup-content][data-status="initial"],
[data-spross-popup-content][data-status="close"] {
  opacity: 0;
}

[data-spross-popup-content][data-arrowed="true"][data-status="initial"],
[data-spross-popup-content][data-arrowed="true"][data-status="close"] {
  transform: scale(0.8);
}

[data-spross-popup-content][data-arrowed="false"][data-status="initial"][data-placement^="top"],
[data-spross-popup-content][data-arrowed="false"][data-status="close"][data-placement^="top"] {
  transform: translate3d(0, 4px, 0);
}

[data-spross-popup-content][data-arrowed="false"][data-status="initial"][data-placement^="bottom"],
[data-spross-popup-content][data-arrowed="false"][data-status="close"][data-placement^="bottom"] {
  transform: translate3d(0, -4px, 0);
}

[data-spross-popup-content][data-arrowed="false"][data-status="initial"][data-placement^="left"],
[data-spross-popup-content][data-arrowed="false"][data-status="close"][data-placement^="left"] {
  transform: translate3d(4px, 0, 0);
}

[data-spross-popup-content][data-arrowed="false"][data-status="initial"][data-placement^="right"],
[data-spross-popup-content][data-arrowed="false"][data-status="close"][data-placement^="right"] {
  transform: translate3d(-4px, 0, 0);
}

[data-spross-popup][data-placement^="top"][data-arrowed="true"] {
  padding-bottom: 12px;
}

[data-spross-popup][data-placement^="top"][data-arrowed="false"] {
  padding-bottom: 4px;
}

[data-spross-popup][data-placement^="top"] [data-spross-popup-arrow] {
  bottom: -8px;
  transform: rotate(180deg);
}

[data-spross-popup][data-placement^="bottom"][data-arrowed="true"] {
  padding-top: 12px;
}

[data-spross-popup][data-placement^="bottom"][data-arrowed="false"] {
  padding-top: 4px;
}

[data-spross-popup][data-placement^="bottom"] [data-spross-popup-arrow] {
  top: -8px;
}

[data-spross-popup][data-placement^="left"][data-arrowed="true"] {
  padding-right: 12px;
}

[data-spross-popup][data-placement^="left"][data-arrowed="false"] {
  padding-right: 4px;
}

[data-spross-popup][data-placement^="left"] [data-spross-popup-arrow] {
  right: -13px;
  transform: rotate(90deg);
}

[data-spross-popup][data-placement^="right"][data-arrowed="true"] {
  padding-left: 12px;
}

[data-spross-popup][data-placement^="right"][data-arrowed="false"] {
  padding-left: 4px;
}

[data-spross-popup][data-placement^="right"] [data-spross-popup-arrow] {
  left: -13px;
  transform: rotate(-90deg);
}

[data-spross-reference] {
  display: inline-block;
}

/* type */
[data-spross-popup][data-type="popover"] [data-spross-popup-content] {
  padding: var(--odn-popover-padding-block) var(--odn-popover-padding-inline);
  color: #1f1f1f;
  background-color: #fff;
}

[data-spross-popup][data-type="popover"] [data-spross-popup-arrow-fill] {
  fill: #fff;
}

[data-spross-popup][data-type="tooltip"] [data-spross-popup-content] {
  padding: var(--odn-tooltip-padding-block) var(--odn-tooltip-padding-inline);
  color: #fff;
  background-color: #404040;
}

[data-spross-popup][data-type="tooltip"] [data-spross-popup-arrow-fill] {
  fill: #404040;
}

/* ==========================================================================
    Vertical
   ========================================================================== */

[data-springen-vertical] {
  position: relative;
  width: fit-content;
  white-space: nowrap;
}

[data-springen-vertical-item] {
  display: flex;
  align-items: center;
  padding-left: 15px;
  height: 30px;
  font-size: 18px;
  color: rgba(51, 55, 61, 0.58);
  cursor: pointer;
}

[data-springen-vertical-item] svg {
  flex: none;
  fill: rgba(62, 69, 82, 0.36);
}

[data-springen-vertical-item-layer="true"] {
  -webkit-text-stroke: 0.5px;
  color: #296bef;
}

[data-springen-vertical-item-layer="true"] svg {
  fill: #296bef;
}

[data-springen-vertical-layer] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  will-change: clip-path;
}

[data-springen-vertical-indicator-wrapper] {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

[data-springen-vertical-indicator] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #296bef;
  border-radius: inherit;
}

/* ==========================================================================
        Divider
       ========================================================================== */

[data-springen-divider] {
  position: relative;
  white-space: nowrap;
  display: flex;
  align-items: center;
  width: fit-content;
}

[data-springen-divider-divider] {
  width: 1px;
  height: 12px;
  background-color: rgba(73, 90, 122, 0.12);
}

[data-springen-divider-layer] {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  will-change: clip-path;
}

[data-springen-divider-item] {
  font-size: 14px;
  cursor: pointer;
  color: rgba(51, 55, 61, 0.58);
}

[data-springen-divider-item] svg {
  flex: none;
  fill: rgba(62, 69, 82, 0.36);
}

[data-springen-divider-item-layer] {
  color: #296bef;
  -webkit-text-stroke: 0.1px;
}

[data-springen-divider-item-disabled="true"] {
  cursor: not-allowed;
}

/* ==========================================================================
        ButtonGroup
       ========================================================================== */

[data-springen-button-group] {
  position: relative;
  width: fit-content;
  white-space: nowrap;
  display: flex;
  align-items: center;
  border: 1px solid rgba(73, 90, 122, 0.12);
  border-radius: 6px;
}

[data-springen-button-group-item] {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0 12px;
  height: 36px;
  font-size: 14px;
  cursor: pointer;
  color: rgba(51, 55, 61, 0.58);
}

[data-springen-button-group-item] svg {
  flex: none;
  fill: rgba(62, 69, 82, 0.36);
}

[data-springen-button-group-item-layer] svg {
  fill: currentColor;
}

[data-springen-button-group-layer] {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  pointer-events: none;
  will-change: clip-path;
}

[data-springen-button-group-item-layer] {
  color: #296bef;
  -webkit-text-stroke: 0.1px;
}

[data-springen-button-group-indicator] {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  background-color: rgba(41, 107, 239, 0.06);
  background-color: color-mix(in srgb, #296bef 6%, transparent);
  outline: 2px solid rgba(41, 107, 239, 0.8);
  outline: 2px solid color-mix(in srgb, #296bef 80%, transparent);
  border-radius: 6px;
}

/* ==========================================================================
        Tabs
       ========================================================================== */

[data-springen-tabs] {
  position: relative;
  width: fit-content;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

[data-springen-tabs-layer] {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  will-change: clip-path;
}

[data-springen-tabs-item] {
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
}

[data-springen-tabs-item-layer] {
  color: #296bef;
}

[data-springen-tabs-indicator] {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: #296bef;
  border-radius: 8px;
  pointer-events: none;
}

/* ==========================================================================
        Tag
       ========================================================================== */

[data-springen-tag] {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  white-space: nowrap;
}

[data-springen-tag-layer] {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  will-change: clip-path;
}

[data-springen-tag-item] {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 0 12px;
  height: 30px;
  font-size: 14px;
  color: #000;
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
  border-radius: 6px;
}

[data-springen-tag-item] svg {
  flex: none;
  fill: rgba(62, 69, 82, 0.36);
}

[data-springen-tag-item-layer] {
  color: #000;
  background-color: #ccc;
}

[data-springen-tag-item-layer] svg {
  fill: currentColor;
}
